Source: juno-grub
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 13)
Maintainer: Giovanni Caligaris <usa@junocomputers.com>

Package: juno-grub
Section: base
Priority: optional
Homepage: https://www.junocomputers.com
Architecture: all
Depends: friendly-recovery
Recommends: memtest86+
Description: Grub files for Juno Computers
